
body{
text-align: center;
font-family: cursive;
font-size: large;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding-top: 0;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  margin-bottom: 0;
  margin-top: 0;
}

.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
}
.middle-container{
  padding-top: 100px;
}
.bottom-container{
}
.web{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;

  }
.top-cloud{
  position: absolute;
  right: 400px;
  top:50px;
}
.skill-row{
  width:50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;

}
.image1{
  width:25%;
  margin-right: 30px;
  margin-top: 120px;
  margin-right: 100px;
  float: right;
}
.image2{
  width:25%;
  margin-left: 30px;
  margin-right: 90px;
  float:left;
}
.code-skill-desc{
  clear: left;
}
.class-skill-desc2{
  clear:right;
}
